<html>
   <body>
	    <h1>Add To Shopping List</h1>
	    <form method="POST" action="/">
	        <input type="text" name="item">
	        <input type="submit" value="Add">
	    </form>
	
	    <h1>Shopping List</h1>
	    <table>
	    {% for food in foods %}
	        <tr>
		        <td>
			        {{ food.foodList }}
			    </td>
		    </tr>
		    <td>
			    <form method="POST" action="./update" style="display: inline">
				    <input type="hidden" value="{{ food.foodList }}" name="oldItem">
					<input type="text" value="{{ food.foodList }}" name="newItem">
					<input type="submit" value="Update">
				</form>
			</td>
			<td>
				<form method="POST" action="./delete" style="display: inline">
					<input type="hidden" value="{{ food.foodList }}" name="item">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	    {% endfor %}
	</table>
  </body>
</html>
